.titulo {
  margin: 20px;
  font-size: 80px;
  font-weight: bolder;
  text-align: center;
  color: white;
}
.tablero {
  width: 80%;
  margin: 20px auto;
  background-color: rgba(217, 239, 237, 0.523);
}
.header {
  display: flex;
  flex-wrap: wrap;
}
.fila {
  width: 80px;
  height: 80px;
  text-align: center;
  background-color: rgb(217, 239, 237);
}
.columna {
  text-align: center;
  width: 80px;
  height: 80px;
  background-color: rgb(217, 239, 237);
}
.selda {
  text-align: center;
  border: 1px solid rgb(69, 99, 234);
}
